<a asp-action="Index" asp-controller="Book">مدیریت کتاب ها</a>
<br />
<a asp-action="Index" asp-controller="Category">مدیریت دسته بندی ها</a>
<br />
<a asp-action="Index" asp-controller="User">مدیریت کاربران</a>
<br />
<a asp-action="Index" asp-controller="Loan">مدیریت امانت ها</a>
