################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Library/FileContentIndex/a1e06641-8766-49d9-99df-ec5a358eea27.vsidx
